include:
  - project: "default/base"
    ref: "main"
    file: ".php.gitlab-ci.yml"

variables:
  SKIP_PHPUNIT: "true"
  MYSQL_DATABASE: "wordpress"
  MYSQL_ROOT_PASSWORD: "wordpress"
  MYSQL_USER: "wordpress"
  MYSQL_PASSWORD: "wordpress"
  MYSQL_HOST: fisrv_mysql
  WP_URL: https://woocommerce.fisv.mherrm.de/
  WP_PASSWORD: 4f#nITC63S07cRcnF(vdT0ox
  PORTAINER_STACK: 'fisrv-woocommerce'

validate:
  extends: .base_validate

build:
  extends: .base_build

test:
  extends: .base_test
  before_script:
    - cd tests/

docker:
  extends: .base_docker
  needs: ["build"]
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:latest
    IMAGE_FILE: "docker/Dockerfile"

portainer:
  extends: .base_portainer

release:
  extends: .base_release
