include:
  - project: 'default/base'
    ref: 'main'
    file: '.php.gitlab-ci.yml'

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:latest
  DOCKERFILE: 'docker/Dockerfile'
  SKIP_PHPUNIT: 'true'
  MYSQL_DATABASE: 'wordpress'
  MYSQL_ROOT_PASSWORD: 'wordpress'
  MYSQL_USER: 'wordpress'
  MYSQL_PASSWORD: 'wordpress'
  MYSQL_HOST: fisrv_mysql
  WP_URL: https://fiwoo.mherrm.de/

validate:
  extends: .base_validate

build:
  extends: .base_build

test:
  image: mcr.microsoft.com/playwright:v1.47.1-jammy
  parallel: 7
  script:
    - npm install
    - npm ci
    - npx playwright test --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL
  before_script:
    - cd tests/

docker:
  extends: .base_docker

release:
  extends: .base_release
