include:
  - project: "default/base"
    ref: "main"
    file: ".php.gitlab-ci.yml"

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:latest
  DOCKERFILE: "docker/Dockerfile"
  SKIP_PHPUNIT: "true"
  MYSQL_DATABASE: "wordpress"
  MYSQL_ROOT_PASSWORD: "wordpress"
  MYSQL_USER: "wordpress"
  MYSQL_PASSWORD: "wordpress"
  MYSQL_HOST: fisrv_mysql

validate:
  extends: .base_validate
  allow_failure: true

build:
  extends: .base_build

test:
  extends: .base_test

docker:
  extends: .base_docker

release:
  extends: .base_release
