.fs-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: white;
    transition-duration: 0.2s;
    box-sizing: border-box;
    padding: 0.1em;
    text-align: center;
}

.fs-add-button:hover {
    opacity: 0.6;
}

.fs-loader-status {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.fs-input {
    padding: 8px 10px !important; 
    border: none !important;
}

.fs-icon-container {
    position: relative;
}

.fs-icon-overlay {
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: white;
    background: #000;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-icon-overlay:hover {
    opacity: 0.7;
    transition-duration: 0.1s;
}

.fs-block {
    background: #F8F8F8 no-repeat 8px;
    border: 1px solid #E5E5E5;
    border-left: 2px solid #EA4C00;
    font-size: 12px;
    color: #303030;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-size: 55px;
}

.fs-checkout-report-button {
    display: flex; 
    justify-content:center; 
    align-items:center; 
    margin-top: 2rem; 
    width: 100%; 
    height: 3rem; 
    background: #ff6600; 
    color: white; 
    cursor: pointer;
    transition: 0.2s;
}

.fs-checkout-report-button:hover {
    background: #c75a11; 
}

.fs-color-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.fs-color-selector:hover {
    opacity: 0.9;
}

.fs-color-selector-container {
    display: flex;
}

.fs-health-check-container {
    display: flex; flex-direction: row; margin-left: 1rem; align-items: center;
}

.fs-row {
    display: flex; flex-direction: row;
}