.fs-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition-duration: 0.4s;
    box-sizing: border-box;
    padding: 0.1em;
    text-align: center;
}

.fs-add-button:hover {
    opacity: 0.6;
}

.fs-loader-status {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.fs-input {
    padding: 8px 10px !important; 
    border: none !important;
}

.fs-icon-container {
    cursor: pointer;
    position: relative;
}

.fs-icon-overlay {
    width: 100%;
    height: 100%;
    color: white;
    background: #000;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-icon-overlay:hover {
    opacity: 0.7;
    transition-duration: 0.1s;
}

.fs-block {
    background: #F8F8F8 no-repeat 8px;
    border: 1px solid #E5E5E5;
    border-left: 2px solid #EA4C00;
    font-size: 12px;
    color: #303030;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    background-size: 55px;
}
