.fs-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5em;
}

.fs-add-button:hover {
    opacity: 0.6;
    transition-duration: 0.1s;
}

.fs-loader-status {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.fs-icon-container {
    cursor: pointer;
    position: relative;
}

.fs-icon-overlay {
    width: 100%;
    height: 100%;
    color: white;
    background: #000;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fs-icon-overlay:hover {
    opacity: 0.7;
    transition-duration: 0.1s;
}